<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="My Test Suite">
    <listeners>
        <listener class-name="softmouse.listeners.TestListener"/>
    </listeners>
    <test name="All Tests">
        <classes>
            <class name="softmouse.tests.LoginTest"/>
<!--            <class name="softmouse.tests.AddStrainTest"/>-->
<!--            <class name="softmouse.tests.ExportAnimalsTest"/>-->
<!--            <class name="softmouse.tests.EditAnimalTest"/>-->
<!--            <class name="softmouse.tests.PrintAnimalList"/>-->
<!--            <class name="softmouse.tests.MoveAnimalTest"/>-->


        </classes>
    </test>
</suite>
